@import "assets/styles/vars.scss";

.form-message {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 10%;
  background: rgba($color-1, 0.33);
  transition: height 0.3s linear;

  &_small {
    height: 0%;
  }

  &__custom-input {
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    padding: 0 20px;
    background: transparent;
    color: $color-2;
    outline: none;
    border: medium none;
  }

  &__actions {
    display: flex;
    position: absolute;
    top: 18%;
    right: 13px;
  }

  &__send-icon {
    cursor: pointer;
    margin-right: 10px;
  }
}
