@import "assets/styles/vars.scss";

.message-list {
  display: grid;
  height: 80%;
  transition: height 0.3s linear;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($color-1, 0.5);
    border-radius: 8px;
  }

  &_small {
    height: 0%;
  }

  &__message {
    position: relative;
    width: max-content;
    max-width: 224px;
    padding: 11px 12px;
    margin: 8px 10px;
    background: $color-2;
    border-radius: 20px 20px 20px 0px;

    &_personal {
      background: $color-5;
      border-radius: 20px 20px 0px 20px;
      font-size: 13px;
      line-height: 15px;
      text-align: right;
      color: #ffffff;
    }

    &-chars {
      display: flex;
      align-items: center;
      font-size: 13px;
      line-height: 15px;
      color: $color-1;
    }

    &-author {
      margin: 0 5px 0 5px;
      font-size: 13px;
      line-height: 14px;
      color: $color-4;
    }

    &-lvl {
      margin-left: 5px;
      font-size: 13px;
      line-height: 14px;
      color: $color-3;
    }

    &-date {
      position: absolute;
      right: -38px;
      top: 50%;
      font-size: 12px;
      line-height: 12px;
      color: rgba($color-2, 0.75);
    }
  }
}
